nonebot2>=2.5.0
nonebot-adapter-onebot>=2.4.6
nonebot-plugin-htmlrender>=0.6.7
PixivPy-Async>=1.2.14
Pillow>=12.2.0
httpx>=0.28.1
python-magic>=0.4.27
pydantic>=2.13.4
PyYAML>=6.0.3
ruamel.yaml>=0.18.0

# dev
pytest>=9.0.3
pytest-asyncio>=1.4.0
nonebug>=0.4.4
pyright>=1.1.409
ruff>=0.15.12